img {
  width: 300px;
  height: 300px;
}
.item {
  width: 300px;
  height: 300px;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.items {
  width: 100vw;
  height: 100vh;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
}
.row1 {
  display: flex;
  position: relative;
  right: -52.6%;
  top: -70%;
}
.row2 {
  display: flex;
  position: relative;
  right: -37%;
  top: -70%;
}
.row3 {
  display: flex;
  position: relative;
  right: -21.4%;
  top: -70%;
}
.row4 {
  display: flex;
  position: relative;
  right: -5.8%;
  top: -70%;
}
.row5 {
  display: flex;

  position: relative;
  right: 9.8%;
  top: -70%;
}
.row6 {
  display: flex;
  position: relative;
  right: 9.8%;
  top: -70%;
}
.row7 {
  display: flex;
  position: relative;
  right: -5.8%;
  top: -70%;
}
.row8 {
  display: flex;
  position: relative;
  right: -21.8%;
  top: -70%;
}

.yellow-box {
  background-color: #e9b309;
}
.blue-box {
  background-color: #3b82f6;
}
.pink-box {
  background-color: #eb489b;
}
.green-box {
  background-color: #23c55e;
}
.red-box {
  background-color: #f04444;
}
