.img-box-2 img {
  width: 65rem;
  margin-left: 10rem;
  animation: anime2 10s infinite;
  filter: drop-shadow(15px 10px 4px #6b2e8aa6);
}

.txt-box-2 {
  width: 50rem;
  margin-left: 15rem;
  margin-top: 7rem;
}
.txt-box-2 h2 {
  margin-bottom: 3rem;
  font-size: 55px;
  font-weight: 500;
  color: #090d10;
}
.txt-box-2 p {
  margin-bottom: 4rem;
  font-size: medium;
  color: #383e3c;
}
.box-2 {
  display: flex;
}

.arrow {
  width: 3.5rem;
  position: absolute;
  left: 85rem;
  rotate: 90deg;
}
@keyframes anime2 {
  0% {
    transform: translateX(-2rem) translateY(3rem);
  }
  25% {
    transform: translateX(1rem) translateY(1rem);
  }
  50% {
    transform: translateX(3rem) translateY(3rem);
  }
  75% {
    transform: translateX(1rem) translateY(2rem);
  }
  100% {
    transform: translateX(-2rem) translateY(3rem);
  }
}
