.box-3 {
  display: flex;
  flex-direction: column;
}
.box-3 h2 {
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}
.icons-box-3 {
  width: 7rem;
}
.card-box-3 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cards-box-3 {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 25rem;
  border: #0000000b solid;
  border-radius: 2rem;
  background-image: none;
  box-shadow: 2px 4px #0000000b;
  padding: 4rem;
}

.div-img-card-1 {
  background-color: #f6ecea;
  border-radius: 50%;
  padding: 15px;
  width: 10rem;
  height: 10rem;
  margin: 0rem 4rem;
  margin-bottom: 1rem;
}
.div-img-card-2 {
  background-color: #faf1e8;
  border-radius: 50%;
  padding: 15px;
  width: 10rem;
  height: 10rem;
  margin: 0rem 4rem;
  margin-bottom: 1rem;
}
.div-img-card-3 {
  background-color: #e7f5f5;
  border-radius: 50%;
  padding: 15px;
  width: 10rem;
  height: 10rem;
  margin: 0rem 4rem;
  margin-bottom: 1rem;
}
.div-img-card-4 {
  background-color: #f4e8f6;
  border-radius: 50%;
  padding: 15px;
  width: 10rem;
  height: 10rem;
  margin: 0rem 4rem;
  margin-bottom: 1rem;
}
.cards-box-3 h2 {
  margin-top: 4rem;
}
.cards-box-3 p {
  margin-top: 2rem;
  text-align: center;
}

.cards-box-3:hover {
  background-image: url("/q9/wave/svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: fadeIn 1s;
}
.cards-box-3:hover p {
  color: white;
}
.cards-box-3:hover h2 {
  color: white;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
