.box-5 {
  display: flex;
  flex-direction: column;
}
.prof-pic {
  width: 7rem;
  border-radius: 50%;
}
.card-box-5 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cards-box-5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 30rem;
  border: #0000000b solid;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
.txt-box-5 {
  margin-top: 10rem;
  text-align: center;
}
.bottom-cards-box-5 {
  display: flex;
  margin-top: 2rem;
  gap: 1.5rem;
}
.top-txt-cards-box-5 {
  margin-left: 2rem;
}
.top-txt-cards-box-5 p {
  font-size: smaller;
}
.bottom-cards-box-5 h3 {
  margin-top: 1rem;
  font-size: small;
}
.bottom-cards-box-5 p {
  font-size: medium;
}
.quete {
  position: absolute;
  left: 1rem;
  width: 2rem;
  top: 1.5rem;
}
