.container {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #905eb8;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 2rem;
  margin-right: 2rem;
}
li a:hover:not(.active) {
  color: #01d8ff;
}
.active {
  margin-right: 10rem;
  background-color: #01d8ff;
  border-radius: 1.2rem;
}

.box-1 {
  background-image: linear-gradient(#905eb8, #8eadc7);
  display: flex;
}
.img-box-1 img {
  width: 65rem;
  filter: drop-shadow(15px 10px 4px #6b2e8aa6);
  
}
.img-box-1 {
  position: relative;
}
.txt-box-1 {
  width: 50rem;
  margin: 15rem;
}
.txt-box-1 h1 {
  margin-bottom: 3rem;
  font-size: 55px;
  font-weight: 500;
  color: #fafafa;
}
.txt-box-1 p {
  margin-bottom: 4rem;
  font-size: larger;
  color: #fafafa;
}
.txt-box-1 button {
  padding: 2rem;
  width: 40rem;
  border-radius: 15px;
  border: none;
  background-color: #01d8ff;
  color: #fafafa;
  font-size: large;
  font-weight: 700;
}
.txt-box-1 button:hover {
  background-color: #7c2fbb;
}
