body {
  display: flex;
  background-image: url(/q6/img/2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.contianer {
  display: flex;
  background-image: linear-gradient(rgb(117 122 247), rgb(166 56 236));
  flex-direction: column;
  width: 40rem;
  height: 50rem;
  align-items: center;
  border-radius: 15px;
  position: relative;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.img-icon {
  width: 8rem;
  margin-top: 20px;
}
h2 {
  margin-top: 15px;
  color: #fafafa;
}
.form-input {
  margin-top: 20px;
  gap: 15px;
}
.link-forget {
  position: absolute;
  bottom: 20px;
}
.input-txt {
  border: none;
  background-color: unset;
  width: 35rem;
  min-height: 4rem;
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
}
::placeholder {
  color: #fafafa;
}
.check-txt {
  color: #fafafa;
}
.login-btn {
  align-self: center;
  width: 10rem;
  height: 4rem;
  border: unset;
  border-radius: 25px;
  margin-top: 10px;
}
.login-btn:hover {
  background-color: #fafafa;
}
.link-forget:hover {
  color: #fafafa;
}
.fa {
  color: #fafafa;
  
}

